#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

gen.add("imu_offset", double_t, 0, "Offset for imu rotation", 0, -180, 180)
gen.add("gps_antenna_offset", double_t, 0, "Offset for GPS antenna (only front supported for now)", 0, 0.0, 1.0)
gen.add("gps_filter_factor", double_t, 0, "Factor for GPS complimentary filter. 0 = dont use GPS, 1 = always overwrite pos with GPS", 0.01, 0, 1.0)
gen.add("magnetic_filter_factor", double_t, 0, "Factor for magnetic complimentary filter. 0 = dont use Mag, 1 = always overwrite orientation with Mag", 0.01, 0, 1.0)
gen.add("dr_max_duration_sec", int_t, 0, "Maximum duration in seconds that dead reckoning is acceptable", 0, 0, 60)
gen.add("max_distance_to_last_gps_pos", double_t, 0, "Max allowed distance between GPS fixes that is considered an inlier", 0, 0.05, 1)
gen.add("gpsrtk_fix_required", bool_t, 0, "Sets requirement for a GPS-RTK fix to get coords", True)
gen.add("dr_update_interval", double_t, 0, "Time in seconds between DR pose updates if we have a proper GPS-RTK fix", 0.1, 1, 60)
gen.add("debug_gps_invalid", bool_t, 0, "Fake a GPS outage, forcing Mowgli into DR mode", False)
exit(gen.generate("mowgli", "mowgli_proxy", "MowgliProxy"))
