<launch>
 <!-- external IMU filtering -->
 <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <param name="publish_tf" value="false"/>
        <param name="mag_bias_x" value="0.0"/>
        <param name="mag_bias_y" value="0.0" />
        <param name="mag_bias_z" value="0.0" />
        <param name="orientation_stddev" value="0"/>
        <param name="zeta" value="0.0" />
        <param name="gain" value="0.2" />
        <param name="use_mag" value="true" />
        <param name="use_magnetic_field_msg" value="true" />
        <param name="fixed_frame" value="imu" />
 </node>
</launch>
